{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<hr>
<div class="container content-container content">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
            <div class="container">
                <div class="card"style="width: 40rem;">
                    <div class="card-body">
                        <div class="card-image">
                            <div class="profile-image">
                                <img class="rounded-circle"width="70" src="{{post.author.profile.image.url}}" />
                            </div>
                            <div class="post-author">
                                <p class="user-name">{{ post.author }}</p>
                            </div>
                            <a href="{% url 'commenting' post.id %}"><img class="w-100" src="{{post.image.url}}" alt="{{post.author}}"></a>
                        </div>
                        <div class="post-info">
                            <a class="text-success ml-3" href="{% url 'commenting' post.id%}"><i class="fa fa-comment"></i>
                            {{post.comments.all.count}} {{post.comments.all.pluralize}}</a>
                            <a class="text-success ml-3" href="#"><i class="fa fa-share"></i></a>
                            {% if post.likes.id == user.id %}
                            <a class="text-danger ml-3" href="{% url 'likes' post.id%}"><i class="fa fa-heart "></i>{{post.likes.count}}</a>
                                {% else %}
                            <a class="text-success ml-2" href="{% url 'likes' post.id%}"><i class="fa fa-heart "></i>
                            {{post.likes.count}}
                            </a>
                            {% endif %}
                            <p class="user-name">{{ post.author }}</p>
                            <p>{{post.created_date|timesince}} ago</p>
                        </div>
                        <div class="comment mt-2">
                            <form action="{% url 'comment' post.id %}" method="post">
                                {% csrf_token %}
                                {{comment_form|crispy}}
                                <input type="submit" class="btn btn-success"  value="Comment">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="container">
                <div class="row ">
                    <div class="col-md-4" id="sticky-sidebar">
                        <div class="friend">
                            <img class="rounded-circle account-profile" src="{{ user.profile.image.url }}" alt="user">
                            <div class="media-container">
                                <h2 class="account-header">{{user.username}}</h2>
                                <p class="text-info">{{user.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}