{% extends 'base.html' %}
{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        {% if posts %}
        <div class="post">
                <img class="rounded-circle account-profile" src="{{ user.profile.image.url }}" alt="user">
                <div class="media-container">
                <h2 class="account-header">{{user.username}}</h2>
                <p class="text-info">{{user.email}}</p>
                </div>
                <p>{{user.profile.bio}}</p>
        </div>
        {% else %}
            <h3>0 users with the search term {{message}}</h3>
        {% endif %}
        </div>
    </div>
    <div class="row">
        {% if posts %}
        {% for post in posts %}
            <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                <h2>{{post.author}}</h2>
                <img src="{{post.image.url}}" alt="posts">
                <p class="mt-3">{{post.caption}}</p>
                <p>Posted {{post.created_date|timesince}} ago</p>
                </div>
            </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
    </div>
{% endblock %}
