{% load bootstrap4 %}
{% load static%}
{{ form.media }}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="smooth-scroll" href="/"> <img src="https://res.cloudinary.com/dw9y1xy4x/image/upload/v1603747276/insta/1600px-Instagram_logo_f6eypf.png" height="40" width="120" alt="">
            </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <form class="form-inline my-2 my-lg-0" role="search" action="{% url 'search_results' %}">
                            <input class="form-control my-2 my-sm-0 search-input" name="username" type="search"
                                placeholder="Search users" aria-label="Search">
                        </form>
                    </div>
                </div>
            </div>
            <div class="">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link open-nav" href="{% url 'upload_image' %}" data-toggle="tooltip"
                            data-placement="bottom" title="Upload Image">
                            <i class="fas fa-plus-square fa-3x"></i>
                        </a>

                    </li>

                    </li>
                    <li class="nav-item dropdown">
                        {% if user.profile.photo %}
                            <a class="nav-link" href="#" id="imageDropdown" data-toggle="dropdown">
                                <img src="{{user.profile.photo.url}}" height="35" width = "35" class="d-inline-block align-top rounded-circle">
                            </a> 
                            {% else %}
                            <a class="nav-link" href="#" id="imageDropdown" data-toggle="dropdown">
                                <img src="https://res.cloudinary.com/dw9y1xy4x/image/upload/v1603747573/insta/default-profile_neorvq.png" height="35" width = "35" class="d-inline-block align-top rounded-circle">
                            </a>
                            {% endif %}
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'profile' username=user %}"> Profile</a>
                                <a class="dropdown-item" href="/accounts/password_change"> Change Password</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout"> Logout</a>
                    </div>
            </li>

                </ul>
            </div>
        </div>
    </div>
</nav>