{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<hr>
<div class="container content-container content">
    <div class="row">
        <div class="col-md-12">
            {% for post in posts %}
            <div class="container">
                <div class="card" style="width: 90rem;">
                    <div class="card-body">
                        <div class="card-image">
                            <div class="profile-image">
                                <img class="rounded-circle" width="70" src="{{post.author.profile.image.url}}" />
                            </div>
                            <div class="card-title">
                                <p class="user-name">{{ post.author }}</p>
                            </div>
                            <a href="{% url 'add_comment' post.id %}"><img class="w-100" src="{{post.image.url}}"
                                    alt="{{post.author}}"></a>
                        </div>
                        <div class="post-info">
                            <a class="text-primary ml-3" href="{% url 'add_comment' post.id%}"><img src="https://img.icons8.com/clouds/100/000000/comments.png" height="50px" width="50px"/>
                                {{post.comments.all.count}} {{post.comments.all.pluralize}}</a>
                            {% if post.likes.id == user.id %}
                            <a class="text-info ml-3" href="{% url 'likes' post.id%}">{{post.likes.count}}</a>
                            {% else %}
                            <a class="text-info ml-2" href="{% url 'likes' post.id%}"><img src="https://img.icons8.com/clouds/100/000000/filled-like.png" height="50px" width="50px"/>
                                {{post.likes.count}}
                            </a>
                            {% endif %}
                            <p class="user-name">{{ post.author }}</p>
                            <p>{{post.created_date|timesince}} ago</p>
                        </div>
                        <div class="comment mt-2">
                            <form action="{% url 'comment' post.id %}" method="post">
                                {% csrf_token %}
                                {{comment_form|crispy}}
                                <input type="submit" class="btn btn-primary" value="Add Comment">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="container">
                <div class="row ">
                    <div class="col-md-4" id="sticky-sidebar">
                        <div class="friend">
                            <img class="rounded-circle account-profile" src="{{ user.profile.image.url }}" alt="user">
                            <div class="media-container">
                                <h2 class="account-header">{{user.username}}</h2>
                                <p class="text-info">{{user.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}